<html>

<head>
    <link href="/css/demo.css" rel="stylesheet" type="text/css">
    <link href="/css/buttons-si.css" rel="stylesheet" type="text/css">

</head>

<body>
    <h1>Iniciar sesión</h1>

    <button class="btn-si btn-google" onclick='location.href="/auth/google"'>Iniciar con Google</button>
    <button class="btn-si btn-facebook" onclick='location.href="/auth/facebook"'>Iniciar con Facebook</button>
    <button class="btn-si btn-github" onclick='location.href="/auth/github"'>Iniciar con GitHub </button>
</body>

</html>