<html>

<head>
    <link href="/css/demo.css" rel="stylesheet" type="text/css">
    <link href="/css/buttons-si.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>
        Hola <%= user.displayName %>.
    </h1>
    <h2>
        Autenticación realizada correctamente con <%= user.provider %>.
    </h2>
    <h2><a href="/perfil">Tu perfil</a></h2>
    <h2><a href="/auth/logout">Logout</a></h3>
</body>

</html>